html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#container {
    margin: auto;
    width: 750px;
}

h1 {
    font-size: 2.5em;
    font-weight: 700i;
}

h2 {
    font-size: 2.2em;
    font-weight: 900;
    color: #333;
}

h3 {
    font-size: 1.5em;
    font-weight: 700;
    color: #333;
}

h4 {
    margin-bottom: -12px;
    font-size: 1em;
    font-weight: 700;
    color: #333;
}

.titleblock {
    margin: 28px 0 0 -60%;
    padding: 8px 25px 8px 60%;
    color: white;
    transform: skewX(-10deg);
    display:inline-block;

    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #FF7A71 , #FF3324); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #FF7A71, #FF3324); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #FF7A71, #FF3324); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #FF7A71 , #FF3324); /* Standard syntax */
}

p {
    width: 750px;
    color: #555;
    line-height: 23px;
}

ul {
    color: #555;
    line-height: 23px;
}

a {
  text-decoration: none;
  color: #FF7A71;
}

a:hover {
  text-decoration: underline;
  color: #FF3324;
}

.example {
    padding-left: 25px;
    border-left: solid #FF3324 5px;
    width: 700px;
}

.spacer {
    height: 50px;
}

.clear {
    clear: both;
}
